@import url('https://fonts.cdnfonts.com/css/calculator');

body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'calculator', sans-serif;
    background-color: grey;
    overflow-y: hidden;
}

.container {
    background-color: #666;
    box-shadow: inset;
    height: 750px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    overflow-y: hidden;
}

.display {
    width: 75%;
    border-radius: 5px;
    background-color: rgba(255,255,255, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-height: 50px;
    margin-bottom: 10px;
    padding: 2rem;
    font-size: 5rem;
}

#displayValue {
    width: 75%;
    text-align: center;
}


.calculator {
    width: 75%;
    border-radius: 5px;
    background-color: blueviolet;
    flex-grow: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    grid-auto-flow: dense;
    padding: 2rem;
}

button {
    font-size: 2rem;
    border: none;
}

.operatorBtn {
    background-color: orange;
    color: white;
}

.clearBtn {
    background-color: red;
}

.clearEntryBtn {
    background-color: pink;
}

.equalsBtn {
    background-color: lightgreen;
}

#zero {
    grid-column: span 2;
}